<div style="background-color: rgb(15, 26, 63);">
    <h2 style="text-align: center;color: white;">Update app-brand-edit Details</h2>
</div>
<mat-card style="min-height: inherit;">
    <mat-card-content>
        <form class="example-form" #prjNgModel='ngForm'>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>{{' Name​'}}</mat-label>
                        <input matInput placeholder="Write Product Name ​" [required]="true" #name="ngModel" name="name" [(ngModel)]="brand.name">
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field>
                        <mat-label>{{' Code'}}</mat-label>
                        <input matInput placeholder="Write Product Code ​" [required]="true" #code="ngModel" name="code" [(ngModel)]="brand.code">
                    </mat-form-field>
                </div>

                <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                        <mat-label>{{' Description'}}</mat-label>
                        <textarea matInput placeholder="Write Brand Description.." #description='ngModel' name="description" [(ngModel)]="brand.description" [required]="false" rows="6"></textarea>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <fieldset class="form-group">
                        <label>Upload Image</label> {{imageError}}
                        <div class="custom-file fileInputProfileWrap">
                            <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile" enctype="multipart/form-data">
                        </div>
                    </fieldset>
                </div>

                <div class="col-md-6">
                    <ng-container *ngIf="isImageSaved; else elseTemplate">
                        <img [src]="cardImageBase64" style="float:right; margin:20px 5px 5px 5px">
                    </ng-container>
                    <ng-template #elseTemplate>
                        <div *ngIf=retrievedImage>
                            <img [src]="retrievedImage" style="float:right; margin:20px 5px 5px 5px">
                        </div>
                    </ng-template>
                    <a class="btn btn-danger" style="float:right; margin:20px 5px 5px 5px" (click)="removeImage()" *ngIf="isImageSaved">Remove</a>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>
<button class="btn btn-danger" style="float:right; margin: 20px 5px 5px 5px;" (click)="close()">{{'Close'}}</button>
<button mat-raised-button color="primary" style="float:right; margin:20px 5px 5px 5px" [disabled]="!prjNgModel.valid " (click)="save()">{{'Save'}}</button>
<app-loader></app-loader>