<mat-dialog-content>

    <table [dataSource]="dataSource" mat-table matSort>
  
      <ng-container matColumnDef="Product Name">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Product Name</th>
        <td *matCellDef="let element" mat-cell> {{element.productName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Size">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Size</th>
        <td *matCellDef="let element" mat-cell> {{element.variationName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Cartoon Size">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Cartoon Size</th>
        <td *matCellDef="let element" mat-cell> {{element.cartoonSize}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Cartoon Per Lot">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Cartoon Per Lot</th>
        <td *matCellDef="let element" mat-cell> {{element.cartoonPerLot}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Cost">
        <th *matHeaderCellDef mat-header-cell mat-sort-header> Cost</th>
        <td *matCellDef="let element" mat-cell> {{element.totalCost}} </td>
      </ng-container>
  
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
</mat-dialog-content>
<button class="btn btn-danger" style="float:right; margin: 20px 5px 5px 5px;" (click)="close()">{{'Close'}}</button>
