<div style="background-color: #3752ac;">
    <h2 style="text-align: center;color: white;">সকল তথ্য </h2>
  </div>
<mat-card class="mat-elevation-z8">
      <table [dataSource]="dataSource" mat-table matSort>
  
        <ng-container matColumnDef="উৎস">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> উৎস</th>
          <td *matCellDef="let element" mat-cell > {{element.source}} </td>
        </ng-container>
  
        <ng-container matColumnDef="জিওবি">
          <th *matHeaderCellDef mat-header-cell mat-sort-header > জিওবি</th>
          <td *matCellDef="let element" mat-cell > {{element.gob}} </td>
        </ng-container>
  
        <ng-container matColumnDef="নিজস্ব অর্থায়ন">
          <th *matHeaderCellDef mat-header-cell mat-sort-header > নিজস্ব অর্থায়ন</th>
          <td *matCellDef="let element" mat-cell > {{element.finance}} </td>
        </ng-container>   
        <ng-container matColumnDef="অন্যান্য">
            <th *matHeaderCellDef mat-header-cell mat-sort-header > অন্যান্য</th>
            <td *matCellDef="let element" mat-cell > {{element.other}} </td>
          </ng-container>       
  
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>
  </mat-card>
  