<mat-card style="min-height: 55vh;">
    <mat-card-content>
      <div>
        <button mat-icon-button style="color: white; background: #673ab7; float:right;"
                matTooltip="সংযুক্তি আপলোড​ করুন"
                (click)="openDialog($event.type)">
          <mat-icon>cloud_upload</mat-icon>
        </button>
      </div>
      <div>
        <div class="mem-list-table-container">
          <table class="mem-table-full-width" mat-table [dataSource]="dataSource" matSort>
            <!-- Serial Column -->
            <ng-container matColumnDef="serialNo">
              <th mat-header-cell *matHeaderCellDef style="text-align: center; width: 13%;">{{ ' ক্রমিক নং ' }}</th>
              <td mat-cell *matCellDef="let row; let i = index"> {{i + 1}} </td>
            </ng-container>

            <ng-container matColumnDef="fileName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center; width: 50%">{{ ' সংযুক্তির নাম ' }}</th>
              <td mat-cell *matCellDef="let row; let i = index"> {{row.title}}</td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef style="text-align: center;">{{ ' অ্যাকশন ' }}</th>
              <td mat-cell *matCellDef="let row; let i = index">
                <a
                  class="btn btn-danger" matTooltip="{{'ডাউনলোড করুন'}}​"
                  (click)="downlaod(row)">
                  <i class="fa fa-download"></i>
                </a>
                <a
                  class="btn btn-danger" matTooltip="{{'মুছে ফেলুন​'}}​"
                  (click)="delete(row, i)">
                  <i class="fa fa-trash"></i>
                </a>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </mat-card-content>
  </mat-card>



