<mat-card class="mat-elevation-z8">
  <mat-card>
    <table class="table" style="border: none" border="0">
      <tr>
        <td width="85%" style="border: none">
          <mat-form-field style="display: inline; width: 30%">
            <mat-label>অনুসন্ধান</mat-label>
            <input matInput placeholder="অনুসন্ধানের শব্দাংশ লিখুন" (keyup)="applyFilter($event.target)" />
          </mat-form-field>
        </td>
        <td class="float-right" style="border: none">
          <a [routerLink]="'/prj/prj-add'" class="btn btn-primary">
            <i class="fa fa-plus" matTooltip="নতুন প্রকল্প যুক্ত করুন"></i>
          </a>
        </td>
      </tr>
    </table>
    <mat-card-actions [hidden]="!showFilters" align="end">
      <a class="btn btn-primary" (click)="search($event)">
        <i class="fa fa-search"></i>
      </a>
    </mat-card-actions>
  </mat-card>

  <table [dataSource]="dataSource" mat-table matSort>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> প্রকল্পের নাম</th>
      <td *matCellDef="let element" mat-cell (click)="openDialogView(element.id)"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="director">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> প্রকল্প পরিচালক</th>
      <td *matCellDef="let element" mat-cell (click)="openDialogView(element.id)">
        {{element.projectDirector}} </td>
    </ng-container>

    <ng-container matColumnDef="office">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> প্রধান কার্যালয়</th>
      <td *matCellDef="let element" mat-cell (click)="openDialogView(element.id)"> {{element.office}}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> ক্রিয়া</th>
      <td *matCellDef="let element" mat-cell>
          <a class="btn btn-primary" matTooltip="বিস্তারিত দেখুন​" (click)="openDialogView(element.id)">
              <i class="fa fa-eye"></i>
          </a>
          <a class="btn btn-danger" matTooltip="পরিবর্তন করুন" (click)="viewPrjOverviewPage(element.id)">
              <i class="fa fa-edit"></i>
          </a>
      </td>
  </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-card>