<div class="error-background">
  <div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="clearfix" style="color: white">
            <h1 class="float-left display-3 mr-4">৪০৪</h1>
            <h4 class="pt-3">দুঃখিত! আপনি হারিয়ে গেছেন​।</h4>
            <p class="text-muted" style="color: white !important;">আপনি যে পাতাটি সন্ধান করছেন,তার জন্যে বাটনটিতে ক্লিক করুন</p>
            <button mat-raised-button color="primary" style="float:right; margin:5px" (click)="testLogin()">{{'ক্লিক করুন'}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>