<div style="background-color: #3752ac;">
    <h2 style="text-align: center;color: white;">লক্ষ্য বর্ণনা </h2>
</div>
<mat-card style="height:inherit;" mat-dialog-content>
    <mat-card-content>

        <div class="container">
            <div class="leftdv">
                <b> নাম :</b>
            </div>
            <div class="rytdv">
                <b>{{name}}</b>
            </div>
        </div>

        <div class="container">
            <div class="leftdv">
                <b>বর্ণনা:</b>
            </div>
            <div class="rytdv">
                <b>{{description}}</b>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<button class="btn btn-danger" style="float:right; margin: 20px 5px 5px 5px;" (click)="close()">{{'বন্ধ করুন'}}</button>