<div style="background-color: rgb(238, 50, 17);" [hidden]="available">
    <h2 style="text-align: center;color: white;">{{message}}</h2>
</div>
<div style="background-color: rgb(15, 26, 63);"[hidden]="!available">
  <h2 style="text-align: center;color: white;">Shop Now </h2>
</div>

<div [class]="div" >
  <div style="background-color: rgb(124, 59, 59);" [hidden]="showAll">
    <h2 style="text-align: center;color: white;">Fill Data: </h2>
</div>
<mat-card style="min-height: inherit;" >
    <mat-card-content>
     
        <form class="example-form" #prjNgModel='ngForm'>
            <div class="row">

                <div class="col-md-12">
                    <mat-form-field>
                      <mat-label>{{' Category ​'}}</mat-label>
                      <mat-select #autoCategory="matSelect" [required]="true" placeholder="Select Category" aria-label="State"
                      name="category" >
                        <mat-option *ngFor="let category of categoryList" [value]="category.id"
                          (onSelectionChange)="onSelectCategory(category.id)">
                          {{ category.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-md-12" [hidden]="showSubCategory">
                    <mat-form-field>
                      <mat-label>{{' Sub Category ​'}}</mat-label>
                      <mat-select #autoSubCategory="matSelect" [required]="true" placeholder="Select Sub Category" aria-label="State"
                      name="subCategory" >
                        <mat-option *ngFor="let subCategory of subCategoryList" [value]="subCategory.id"
                          (onSelectionChange)="onSelectSubCategory(subCategory.id)">
                          {{ subCategory.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-md-12" [hidden]="showProduct">
                    <mat-form-field>
                      <mat-label>{{' Product ​'}}</mat-label>
                      <mat-select #autoProduct="matSelect" [required]="true" placeholder="Select Product" aria-label="State" #product='ngModel'
                      name="product" [(ngModel)]="data.productId">
                        <mat-option *ngFor="let product of productList" [value]="product.id"
                          (onSelectionChange)="onSelectProduct(product)">
                          {{ product.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>


                <div class="col-md-6" [hidden]="showAll">
                    <mat-form-field>
                        <mat-label>{{' Cartoon Size'}}</mat-label>
                        <input matInput type="number" [required]="true"  #cartoonSize="ngModel" name="cartoonSize" [(ngModel)]="data.cartoonSize">
                    </mat-form-field>
                </div>

                <div class="col-md-6" [hidden]="showAll">
                    <mat-form-field>
                        <mat-label>{{' Cartoon Per Lot'}}</mat-label>
                        <input matInput type="number" [required]="true" #cartoonPerLot="ngModel" name="cartoonPerLot" [(ngModel)]="data.cartoonPerLot">
                    </mat-form-field>
                </div>

                  <div class="col-md-6" [hidden]="showAll">
                    <mat-form-field>
                      <mat-label>{{' Product Size ​'}}</mat-label>
                      <mat-select #autoS="matSelect" [required]="true" placeholder="Select Product Size" aria-label="State" #size='ngModel'
                      name="size" [(ngModel)]="data.size">
                        <mat-option *ngFor="let category of sizeList" [value]="category">
                          {{ category }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-md-6" [hidden]="showAll">
                    <mat-form-field>
                        <mat-label>{{' Total Cost'}}</mat-label>
                        <input readonly matInput  #totalCost="ngModel" name="totalCost" [(ngModel)]="data.totalCost" [value]="data.cartoonPerLot*data.cartoonSize*price">
                    </mat-form-field>
                </div>

            </div>
        </form>
    </mat-card-content>
</mat-card>
<button mat-raised-button color="primary" style="float:right; margin:20px 5px 5px 5px" [disabled]="!(prjNgModel.valid && available)" (click)="addToCart()">{{'Add To Cart'}}</button>
<button mat-raised-button color="primary" style="float:right; margin:20px 5px 5px 5px" [disabled]="!(prjNgModel.valid && available)" (click)="payNow()">{{'Pay Now'}}</button>
</div>

<div class="overlay"
    [hidden]="!loading">
    <img src="assets/img/brand/loader_colored.gif" class="spinner" style="height: 200px; width: 200px">
  </div>
<div class="rytdv" [hidden]="showAll">
   
            <div style="background-color: rgb(68, 38, 38);">
                <h2 style="text-align: center;color: white;">Product Name: {{a.name}} </h2>
            </div>
            
            <div *ngIf=retrievedImage>
                <img [src]="retrievedImage" class="center">
                </div>
            
                    <div class="container">
                        <div class="leftdv">
                            <b>Product Code :</b>
                        </div>
                        <div class="rytdv">
                            <b>{{a.code}}</b>
                        </div>
                    </div>
            
                    <div class="container">
                        <div class="leftdv">
                            <b>Product Category :</b>
                        </div>
                        <div class="rytdv">
                            <b>{{a.categoryName}}</b>
                        </div>
                    </div>
            
                    <div class="container">
                        <div class="leftdv">
                            <b>Product Sub Category :</b>
                        </div>
                        <div class="rytdv">
                            <b>{{a.subCategoryName}}</b>
                        </div>
                    </div>
            
                    <div class="container">
                        <div class="leftdv">
                            <b>Product Brand:</b>
                        </div>
                        <div class="rytdv">
                            <b>{{a.brandName}}</b>
                        </div>
                    </div>
            
                    <div class="container">
                        <div class="leftdv">
                            <b>Available Size:</b>
                        </div>
                        <div class="rytdv">
                            <b>{{a.size}}</b>
                        </div>
                    </div>
            
                    <div class="container">
                        <div class="leftdv">
                            <b>Product Price :</b>
                        </div>
                        <div class="rytdv">
                            <b>{{a.price}}</b>
                        </div>
                    </div>
       
</div>

