.leftdv {
    width: 50%;
    text-align: center;
    float: left;

}

// .center {
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//     width: 50%;
// }

.rytdv {
    text-align: center;
    width: 50%;
    float: right;

}


