<mat-card>
  <table class="table" style="border: none" border="0">
    <tr>
      <td class="float-right" style="border: none">
        <mat-button-toggle-group #group="matButtonToggleGroup" name="fontStyle" [value]="selected" (change)="onValChange(group.value)" aria-label="Font Style">
          <mat-button-toggle value="table"><i class="icon-list"></i></mat-button-toggle>
          <mat-button-toggle value="gantt"><i class="icon-graph"></i></mat-button-toggle>
        </mat-button-toggle-group>
        &nbsp;&nbsp;
        <a class="btn btn-primary" 
           (click)="openDialog()"
           matTooltip="{{addButtonTooltips}}">
          <i class="fa fa-plus"></i>
        </a>
      </td>
    </tr>
  </table>
</mat-card>
<br/>
<ng-container *ngIf="selected == 'table'; else gantt">
  <app-prj-task-tree-list 
  [tree]="tree" 
  (itemClicked)="openModal($event)" 
  [displayedColumns]="displayedColumns"></app-prj-task-tree-list>
</ng-container>
<ng-template #gantt>
  <app-gantt-chart></app-gantt-chart>
</ng-template>
