<h1 *ngIf="!underTab">{{' কার্যের তথ্য '}}</h1>
    <form class="example-form" novalidate [formGroup]="myForm">
        <div class="row">
          <div class="col-md-12">
              <mat-form-field>
                <mat-label>{{'কার্যের শিরনাম'}}</mat-label>
                <input matInput [readonly]="false" placeholder="কার্যের শিরনাম লিখুন​" formControlName="title" name="title">
              </mat-form-field>
          </div>
        </div>
      <div class="row" >
        <div class="col-md-12">
          <mat-form-field>
            <mat-label>{{ 'দায়িত্ব প্রাপ্ত ব্যাক্তি' }}</mat-label>
            <input type="text"
                   placeholder="দায়িত্ব প্রাপ্ত ব্যাক্তির নাম লিখুন​"
                   matInput
                   [readonly]="false"
                   (ngModelChange)="updatedVal($event)"
                   [formControl]="employeeId"
                   formControlName="employeeId"
                   [matAutocomplete]="autoAssignee">
            <mat-autocomplete autoActiveFirstOption #autoAssignee="matAutocomplete" [displayWith]="displayWith">
              <mat-option (onSelectionChange)="updateForm($event, option.id, 'employeeId')" *ngFor="let option of filteredOptionsEmployee | async" [value]="option.name">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>{{'মেয়াদকাল (হইতে)'}}</mat-label>
              <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker1" [required]="true"
                placeholder="Choose a date" (click)="picker1.open()" formControlName="startDate" name="startDate" readonly>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <mat-label>{{' মেয়াদকাল (পর্যন্ত)​ '}}</mat-label>
              <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" [required]="true"
                placeholder="Choose a date" (click)="picker.open()" formControlName="endDate" name="endDate" readonly>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>{{'অর্থনৈতিক কোড'}}</mat-label>
            <input matInput [readonly]="false" placeholder="অর্থনৈতিক কোড লিখুন​" formControlName="economyCode">
          </mat-form-field>
        </div>
          <div class="col-md-6">
          <mat-form-field>
            <mat-label>{{'ধরণ'}}</mat-label>
            <input matInput [readonly]="false" placeholder="ধরণ" formControlName="category">
          </mat-form-field>
        </div>

      </div>
      <div class="row">
          <div class="col-md-6">
            <section class="example-section">
              <mat-checkbox id="data.parent" (change)="setParent()" class="example-margin" formControlName="parent">অভিভাবক কাজ রয়েছে?</mat-checkbox>
            </section>
          </div>
          <div class="col-md-6">
            <mat-form-field *ngIf="data.parent">
              <mat-label>{{ 'প্যারেন্ট কার্যাবলি' }}</mat-label>
              <input placeholder="প্যারেন্ট কার্যাবলির নাম বাছাই করুন"
                     matInput
                     aria-label="State"
                     [readonly]="false"
                     (ngModelChange)="updatedVal($event)"
                     [formControl]="parentTaskId"
                     formControlName="parentTaskId"
                     [matAutocomplete]="autoTask">
              <mat-autocomplete autoActiveFirstOption #autoTask="matAutocomplete" [displayWith]="displayWith">
                <mat-option (onSelectionChange)="updateForm($event, option.id, 'parentTaskId')" *ngFor="let option of filteredOptionsTask | async" [value]="option.title">
                  {{option.title}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
        <div [attr.mat-dialog-actions]="isModal" class="example-button-row" align="end">
          <button mat-raised-button style="margin-right: 10px;" *ngIf="isModal" color="warn" (click)="cancel()">{{'বন্ধ​ করুন​'}}</button>
          <button *ngIf="!editable" [disabled]="!myForm.valid" mat-raised-button color="primary" (click)="save()">{{'সংরক্ষণ করুন'}}</button>
          <button *ngIf="editable" [disabled]="!myForm.dirty" mat-raised-button color="primary" (click)="update()">{{'সংরক্ষণ করুন'}}</button>
        </div>
    </form>
<app-loader></app-loader>