<mat-card class="mat-elevation-z8">
    <table [dataSource]="dataSource" mat-table matSort>

        <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> নাম</th>
            <td *matCellDef="let element" mat-cell> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> ক্রিয়া</th>
            <td *matCellDef="let element" mat-cell>
                <a class="btn btn-primary" matTooltip="বিস্তারিত দেখুন​">
                    <i class="fa fa-eye"></i>
                </a>
            </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
</mat-card>