<!-- <ejs-gantt id="ganttDefault"
[dayWorkingTime]="dayWorkingTime"
[timelineSettings]="timelineSettings"
 height="430px" 
 [dataSource]="data" 
 allowRowDragAndDrop="true"
 [editSettings]="editSettings"
 allowFiltering = 'true'
 [taskFields]="taskSettings" 
 allowReordering="true"
 allowSelection="true"
 allowResizing="true"
 height="450px"
 includeWeekend="true"
 [eventMarkers]="eventMarkers"
 [contextMenuItems]="contextMenuItems"
 (queryTaskbarInfo) = "queryTaskbarInfo($event)"
 enablePredecessorValidation="false"> -->

<div class="control-section">
    <ejs-gantt id="ganttDefault"
    [dayWorkingTime]="dayWorkingTime"
    [timelineSettings]="timelineSettings"
     height="430px" 
     [dataSource]="data" 
     allowRowDragAndDrop="true"
     [editSettings]="editSettings"
     allowFiltering = 'true'
     [taskFields]="taskSettings" 
     allowReordering="true"
     allowSelection="true"
     allowResizing="true"
     height="450px"
     includeWeekend="true"
     [columns]="columns"
     locale="de-DE"
     [contextMenuItems]="contextMenuItems"
     (queryTaskbarInfo) = "queryTaskbarInfo($event)"
     enablePredecessorValidation="false">
    </ejs-gantt>
</div>