.e-gantt .e-gantt-chart .e-timeline-header-table-container > thead > tr > th {
    border-left: 0;
    padding: 0 3px;
    color: red;
    text-align: center;
}

.e-gantt .e-gantt-chart .e-weekend-header-cell {
    background: #ffffff;
}

.e-gantt .e-gantt-chart .e-timeline-top-header-cell {
    height: 32px;
    display: inline-block;
}