<div style="background-color: black;">
    <h2 style="text-align: center;color: white;"> {{brand.name}} </h2>
</div>

<div *ngIf=retrievedImage>
    <img [src]="retrievedImage" class="center">
</div>

<mat-card style="height:inherit;" mat-dialog-content>
    <mat-card-content>

        <div class="container">
            <div class="leftdv">
                <b>Product Code :</b>
            </div>
            <div class="rytdv">
                <b>{{brand.code}}</b>
            </div>
        </div>

        <div class="container">
            <div class="leftdv">
                <b>Brand Description:</b>
                <textarea class="goal" readonly cdkTextareaAutosize cols="80" #cfcAutosize="cdkTextareaAutosize">{{brand.description}}</textarea>
            </div>
        </div>



        <button class="btn btn-danger" style="float:right; margin: 20px 5px 5px 5px;" (click)="close()">{{'Close'}}</button>