<mat-card class="mat-elevation-z8">
    <table [dataSource]="dataSource" mat-table matSort>
    
        <ng-container matColumnDef="sub-code" >
            <th *matHeaderCellDef mat-header-cell mat-sort-header> ইকোনোমিক সাব কোড</th>
            <td *matCellDef="let element" mat-cell > {{element.subCode}} </td>
        </ng-container>
    
        <ng-container matColumnDef="description">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> ইকোনোমিক সাব কোড অনুযায়ী বর্ণনা</th>
            <td *matCellDef="let element" mat-cell> {{element.description}} </td>
        </ng-container>
    
        <ng-container matColumnDef="unit">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> একক </th>
            <td *matCellDef="let element" mat-cell> {{element.unit}} </td>
        </ng-container>
        <ng-container matColumnDef="unit-rate" >
            <th *matHeaderCellDef mat-header-cell mat-sort-header> একক মূল্য </th>
            <td *matCellDef="let element" mat-cell > {{element.unitRate}} </td>
        </ng-container>
    
        <ng-container matColumnDef="quantity">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> পরিমাণ</th>
            <td *matCellDef="let element" mat-cell> {{element.quantity}} </td>
        </ng-container>
    
        <ng-container matColumnDef="total-cost">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> মোট খরচ</th>
            <td *matCellDef="let element" mat-cell> {{element.totalCost}} </td>
        </ng-container>
        <ng-container matColumnDef="gob" >
            <th *matHeaderCellDef mat-header-cell mat-sort-header> জিওবি (বৈদেশিক মুদ্রা)</th>
            <td *matCellDef="let element" mat-cell > {{element.gob}} </td>
        </ng-container>
    
        <ng-container matColumnDef="self-gob">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>নিজস্ব বিনিয়োগ (বৈদেশিক মুদ্রা)</th>
            <td *matCellDef="let element" mat-cell> {{element.selfGob}} </td>
        </ng-container>
    
        <ng-container matColumnDef="other">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> অন্যান্য</th>
            <td *matCellDef="let element" mat-cell> {{element.other}} </td>
        </ng-container>
        <ng-container matColumnDef="percentage">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> প্রকল্পের মোট খরচের শতাংশ</th>
            <td *matCellDef="let element" mat-cell> {{element.percentage}} </td>
        </ng-container>
        
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
    <p align="right"></p>
    <h5 align="right">প্রকল্পের মোট খরচ: {{total}}</h5>
    </mat-card>