<div>
    <h4 style="text-align: center;"><u>এক নজরে "{{prj.name}} প্রকল্পের "প্রধান প্রধান তথ্যাদি</u> </h4>
</div>

<mat-card style="height:inherit;" mat-dialog-content>
    <mat-card-content>

        <div class="container">
            <div class="leftdv">
                <b>১| প্রকল্পের শিরোনাম :</b>
            </div>
            <div class="rytdv">
                <b>{{prj.name}}</b>
            </div>
        </div>

        <div class="container">
            <div class="leftdv">
                <b>২| উদ্যোগী মন্ত্রণালয়/বিভাগ :</b>
            </div>
            <div class="rytdv">
                <b>{{prj.initiatorOffice}}</b>
            </div>
        </div>



        <div class="container">
            <div class="leftdv">
                <b>৩| বাস্তবায়নকারী সংস্থা (সংস্থাসমূহ) :</b>
            </div>
            <div class="rytdv">
                <b>{{prj.implementingAgency}}</b>
            </div>
        </div>

        <div class="container">
            <div class="leftdv">
                <b>৪| প্রকল্পের  ব্যয় :</b>
            </div>
            <div class="rytdv">
                <b>{{prj.cost}}</b>
            </div>
        </div>

        <div class="container">
            <div class="leftdv">
                <b>৫| বাস্তবায়ন কাল :</b>
            </div>
            <div class="rytdv">
                <b>{{estimatedTime}}</b>
            </div>
        </div>

        <div class="container">
            <div class="leftdv">
                <b>৬| প্রকল্পের অনুমোদন তারিখ :</b>
            </div>
            <div class="rytdv">
                <b>{{prj.approveDate}}</b>
            </div>
        </div>

        <div class="container">
            <div class="goalleft">
                <b>৭|  প্রকল্পের উদ্দেশ্য :</b>
            </div>
            <div class="goalright">
                <textarea readonly class="goal" rows="6" cols="60" cdkTextareaAutosize #cfcAutosize="cdkTextareaAutosize">{{prj.objective}}</textarea>
            </div>
        </div>

        <div class="container">
            <div class="leftdv">
                <b>৮| জুন/২০১৯ পর্যন্ত ক্রমপুঞ্জিত ব্যয় :</b>
            </div>
            <div class="rytdv">
                <b>{{adp}}</b>
            </div>
        </div>

        <div class="container">
            <div class="leftdv">
                <b>৯| ২০১৯-২০ সালের এডিপি বরাদ্দ,  অবমুক্ত ও ব্যয় :</b>
            </div>
            <div class="rytdv">
                <b>{{data}}</b>
            </div>
        </div>

        <div class="container">
            <div class="leftdv">
                <b>১০| ২২ আগস্ট ২০১৯ পর্যন্ত ক্রমপুঞ্জিত ব্যয় ও বাস্তব    অগ্রগতি :</b>
            </div>
            <div class="rytdv">
                <b>{{advance}}</b>
            </div>
        </div>

        <div class="container">
            <div class="leftdv">
                <b>১১| প্রকল্পের প্রধান প্রধান কার্যক্রমসমুহ :</b>
                <textarea class="goal" readonly cdkTextareaAutosize cols="80" #cfcAutosize="cdkTextareaAutosize">{{prj.activities}}</textarea>
            </div>
        </div>

    </mat-card-content>
</mat-card>
<button class="btn btn-danger" style="float:right; margin: 20px 5px 5px 5px;" (click)="close()">{{'বন্ধ করুন'}}</button>